body {
    background-color: #c5d7d7;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
     overflow-x: hidden;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 10px solid black;
    margin-bottom: 50px;
  }
  
  .heading {
    font-family: 'Press Start 2P', monospace, sans-serif;
    text-align: left;
    margin: 0;
    font-size: 2.5rem;
    flex: 1; 
  }
  
  /* Logo container */
  #jc-logo img {
    height: 40px; 
    width: auto;
  }
  
  @media (max-width: 460px) {
    .header-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .heading {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 15px;
      flex: none;
    }
  
    #jc-logo img {
      height: 22px;
    }
  }
  

.start-heading {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

.start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fadeInStartGame;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    gap: 50px;
    margin-bottom: 400px;
}
@keyframes fadeInStartGame {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#start-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', monospace, sans-serif;;
    background-color: #c5d7d7;
    animation: 3s pulse-animation infinite;
    padding: 20px;
    font-size: 15px; 
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px black;

}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}

.legend {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px black;
    margin-bottom: 80px;
}

.legend h2 {
    text-align: center;
    width: 100%;
  }

p.bold {
    font-weight: 900;
}

.legend p {
    padding-right: 30px;
}


#units-explanation {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace, sans-serif;;
    margin-bottom: 30px;
}

#css-units {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 400px;
}

@media (max-width: 768px) {
    #css-units {
        grid-template-columns: repeat(1, 1fr);
    }
  }

.unit-card {
    border: none;
    box-shadow: 0 0 0 10px black;
    box-sizing: border-box;
    border-radius: 20px;
    width: 500px;
    height: 440px;
}

@media (max-width: 600px) {
    .unit-card {
      width: 90vw;
      max-width: 350px;
      height: auto;
    }
  }


.unit-heading {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
}

@media (max-width: 600px) {
    .unit-heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;;
    }
  }


#percentage-unit-btn, #em-unit-btn, #rem-unit-btn, #ch-unit-btn, #vh-unit-btn, #vw-unit-btn, #vmin-unit-btn, #vmax-unit-btn {
    background-color: #c5d7d7;
    font-family: 'Press Start 2P', monospace, sans-serif;
    width: 70px;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    animation: 3s viewAndHideBtnPulse infinite; 
    margin-top: 10px;
    margin-left: 190px;
    cursor: pointer;
}

@media (max-width: 600px) {
    #percentage-unit-btn, #em-unit-btn, #rem-unit-btn, #ch-unit-btn, #vh-unit-btn, #vw-unit-btn, #vmin-unit-btn, #vmax-unit-btn{
        margin-right: 190px;
    }
  }
    
#hide-percentage-btn, #hide-em-btn, #hide-rem-btn, #hide-ch-btn, #hide-vh-btn, #hide-vw-btn, #hide-vmin-btn, #hide-vmax-btn {
    background-color: #c5d7d7;
    font-family: 'Press Start 2P', monospace, sans-serif;;
    width: 70px;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    animation: 3s viewAndHideBtnPulse infinite; 
    margin-top: 10px;
    margin-right: 80px;
    cursor: pointer;
}
    
#percentage-info {
    display: grid;
    grid-template-columns: 2fr auto;
    justify-items: center;
    gap: 5px;
}

#percentage-bar {
    width: 25%;
    border: solid 1px black;
}

#percentage-metric {
    width: 50%;
    border: solid 3px black;
    animation: 5s animatePercentage ease-in;
}

@keyframes animatePercentage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#em-info {
    display: grid;
    grid-template-columns: 2fr auto;
    justify-items: center;
}

#first-em {
    font-size: 8px;
}

#second-em {
    font-size: 2em;
}

#third-em {
    font-size: 2em;
}

#first-rem {
    font-size: 8px;
}

#second-rem {
    font-size: 2rem;
}

#third-rem {
    font-size: 2rem;
}

#first-ch {
    width: 20ch;
}

#second-ch {
    width: 40ch;
}

#vh-info {
    display: grid;
    grid-template-columns: 2fr auto;
    justify-items: center;
}

#first-vh-btn {
    background-color: #c5d7d7;
    font-family: 'Press Start 2P', monospace, sans-serif;;
    width: 90px;
    height: 10vh;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    margin-top: 10px;
    margin-right: 80px;
}

#second-vh-btn {
    background-color: #c5d7d7;
    font-family: 'Press Start 2P', monospace, sans-serif;;
    width: 90px;
    height: 20vh;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    margin-top: 10px;
    margin-right: 80px;
}

#vw-info {
    display: grid;
    grid-template-columns: 2fr auto;
    justify-items: center;
}

#first-vw-btn {
    background-color: #c5d7d7;
    font-family: 'Press Start 2P', monospace, sans-serif;;
    width: 10vw;
    height: 10vh;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    margin-top: 10px;
    margin-right: 80px;
}

#second-vw-btn {
    background-color: #c5d7d7;
    font-family: 'Press Start 2P', monospace, sans-serif;;
    width: 20vw;
    height: 10vh;
    border-radius: 5px;
    box-shadow: 5px 5px black;
    margin-top: 10px;
    margin-right: 80px;
}

#vmin-info {
    display: grid;
    grid-template-columns: 2fr auto;
    justify-items: center;
}

#sword1 {
    width: 5vmin;
}

#sword2 {
    width: 10vmin;
}

#vmax-info {
    display: grid;
    grid-template-columns: 2fr auto;
    justify-items: center;
}

#chest1 {
    width: 2vmax;
}

#chest2 {
    width: 8vmax;
}

#grid-intro-heading {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px black;
    margin-bottom: 150px;
}

#grid-introduction {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace, sans-serif;;
    margin-bottom: 30px;
}

#grid-one-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    font-family: 'Press Start 2P', monospace, sans-serif;;
    background-color: #c5d7d7;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px black;
}
.grid-one {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1000px;
    margin: 0 auto;
    gap: 5px;
    margin-bottom: 100px;
   
}

.card-heading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.groundbot-icon {
    height: 60px;
    width: auto;
    margin-bottom: 30px;

}

.switch-card {
    border: none;
    box-shadow: 0 0 0 10px black;
    box-sizing: border-box;
    border-radius: 20px;
    gap: 20px;
    width: 400px;
    height: 300px;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.switch-card h2, p {
    padding-left: 80px;
}

#chamber-grid {
    position: relative;
  }

#player-selector-one {
    border: none;
    box-shadow: 0 0 0 10px black;
    background-color: black;
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0px;     
    left: 0px; 
    z-index: 10;
    animation: playerSelectorFlash 2s infinite;
}

#player-selector-two {
    border: none;
    box-shadow: 0 0 0 10px black;
    background-color: black;
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 0px;     
    left: 0px; 
    z-index: 10;
    animation: playerSelectorFlash 2s infinite;
}

@keyframes playerSelectorFlash {

    0%, 100% {
         opacity: 1; 
        }

    50% { 
        opacity: 0; 
    }

}

.mystic-text {
    display: grid;
    justify-items: center;
    text-align: center;
    font-family: 'IBM Plex Mono', serif;
    color: black;
    padding: 1rem;
    background-color: #c5d7d7;
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .mystic-text p {
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInLine 0.8s ease-out forwards;
  }
  
  .mystic-text p:nth-child(1) { animation-delay: 0.2s; }
  .mystic-text p:nth-child(2) { animation-delay: 0.8s; }
  .mystic-text p:nth-child(3) { animation-delay: 1.4s; }
  .mystic-text p:nth-child(4) { animation-delay: 2.0s; }
  .mystic-text p:nth-child(5) { animation-delay: 2.6s; }
  .mystic-text p:nth-child(6) { animation-delay: 3.2s; }
  .mystic-text p:nth-child(7) { animation-delay: 3.8s; }
  .mystic-text p:nth-child(8) { animation-delay: 4.4s; }
  
  @keyframes fadeInLine {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
#grid-heading-two {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px black;
    margin-bottom: 150px;   
}  

#grid-introduction-two {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace, sans-serif;;
    margin-bottom: 30px;
}

.grid-two {
    display: grid;
    margin: 0 auto;
    max-width: 800px;
    grid-template-columns: 70px 1fr;    
    grid-template-rows: repeat(4, 200px);    
    gap: 80px 80px;
    text-align: left;
    margin-bottom: 400px;
    
}

.animation-icons {
    transition: opacity 0.5s ease;
    height: 40px;
    width: auto;
    padding-top: 10px;
}

.animate-btn {
  width: 70px;
  height: 70px;
  background: url('animation-button.png') no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.switch-block {
    border: solid 5px black;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    max-width: 500px;
    padding: 20px;
    height: auto;          
    min-height: 200px;     
    overflow: auto;        
}

#orbital-laser {
    animation: glow 1s infinite ease-in-out;
}

@keyframes glow {
    0%, 100% {
      filter: drop-shadow(0 0 5px #00fff7);
      transform: scale(1);
    }
    50% {
      filter: drop-shadow(0 0 20px #00fff7);
      transform: scale(1.05);
    }
  }

#sword-swing {
    animation: quick-rotate 0.5s ease-in-out infinite;
    transform-origin: center bottom;
}  

@keyframes quick-rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

#fireball-blast {
    animation: bounce 1s ease-in-out infinite;

}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

#fist-blast {
    animation: blast 1.5s ease-in-out infinite;
    transform-origin: center;
}

@keyframes blast {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
  }

  .grid-info {
    animation: mysticFade 1s ease forwards;
    margin-top: -60px;
    font-size: 0.9rem;
    color: black;
    opacity: 0;
    transition: opacity 0.7s ease;
  }

  @keyframes mysticFade {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

#flex-intro-heading {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px black;
    margin-bottom: 150px;
}  
 
#flex-introduction {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace, sans-serif;;
    margin-bottom: 30px;
}
.flex-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;

}

.flex1-heading {
    display: block;
    width: 100%;
}

.p1-containter, 
.p2-container  {
    display: flex;
    align-items: center;
    gap: 20px;
}

.player-logo {
    height: 55px;
    width: auto;
}

.bold {
    font-weight: bolder;
}

.icon-one {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-two {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-three{
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-four {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-five {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icons {
    height: 20px;
    width: auto;
}

.flex-ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

#ready-btn {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    background-color: #c5d7d7;
    animation: 3s pulse-animation-ready infinite;
    padding: 20px 20px;
    font-size: 15px; 
    max-width: 120px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px black;
}

@keyframes pulse-animation-ready {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}

#round-popup {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    color: black;
    font-size: 40px;
    text-align: center;
    animation: 2s round-one-popup ease-in-out forwards;
}

@keyframes round-one-popup {

    0% {
        opacity: 0;
      }
      20% {
        opacity: 1;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

#flex1-info {
    animation: mysticFadeFlexOne 1s ease forwards;
    margin-top: 10px;
    font-size: 0.9rem;
    color: black;
    transition: opacity 0.7s ease;   
    margin-bottom: 250px;
}


@keyframes mysticFadeFlexOne {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

#flex-headng-two {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px black;
    margin-bottom: 150px;
}

#flex-introduction-two {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace, sans-serif;;
    margin-bottom: 30px;
}

.flex-two {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: solid 3px black;
    margin-bottom: 50px;
    height: 650px;
 
}

.flex2-heading {
    padding-left: 80px;
}

.metric1-container {
    display: flex;
    gap: 20px;
}

.player-logo-metric {
    height: 40px;
    width: auto;
    padding-top: 10px;
}

.metric-bar {
    width: 50%;
    border: 1px solid black;
}

.metric-label {
    width: 150px; 
}

.icon-label {
    display: flex;
    align-items: center;
    gap: 20px; 
  }
  
.p1-hp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.heart-icon {
    height: 20px;
    width: auto;
    padding-left: 80px;
}

.p1-hp-stat-bar {
    opacity: 0;
    width: 0%;
    transition: width 2s ease, opacity 1s ease;
    border: solid 3px black;
 
}

.p1-hp-stat-bar.animate {
    opacity: 1;
    width: 90%; 
  }

.p1-dps {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.flame-icon {
    height: 20px;
    width: auto;
    padding-left: 80px;
}

.p1-dps-stat-bar {
    opacity: 0;
    width: 0%;
    transition: width 2s ease, opacity 1s ease;
    border: solid 3px black;
}

.p1-dps-stat-bar.animate {
    opacity: 1;
    width: 45%;
}


.p1-speed {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.p1-speed-stat-bar {
    opacity: 0;
    width: 0%;
    transition: width 2s ease, opacity 1s ease;
    border: solid 3px black;
}

.p1-speed-stat-bar.animate {
    opacity: 1;
    width: 22.5%;
}



.speed-icon {
    height: 20px;
    width: auto;
    padding-left: 80px;
}

.p1-energy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.energy-icon {
    height: 20px;
    width: auto;
    padding-left: 80px;
}

.p1-energy-stat-bar {
    opacity: 0;
    width: 0%;
    transition: width 2s ease, opacity 1s ease;
    border: solid 3px black;
}

.p1-energy-stat-bar.animate {
    opacity: 1;
    width: 70%;
}


.metric2-container {
    display: flex;
    gap: 20px;
}

.p4-hp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.p4-hp-stat-bar {
    opacity: 0;
    width: 0%;
    transition: width 2s ease, opacity 1s ease;
    border: solid 3px black;
}

.p4-hp-stat-bar.animate {
    opacity: 1;
    width: 80%;
}

.p4-dps {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.p4-dps-stat-bar {
    opacity: 0;
    width: 0%;
    transition: width 2s ease, opacity 1s ease;
    border: solid 3px black;
}

.p4-dps-stat-bar.animate {
    opacity: 1;
    width: 70%;
}

.p4-speed {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.p4-speed-stat-bar {
    opacity: 0;
    width: 0%;
    transition: width 2s ease, opacity 1s ease;
    border: solid 3px black;
}

.p4-speed-stat-bar.animate {
    opacity: 1;
    width: 35%;
}



.p4-energy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.p4-energy-stat-bar {
    opacity: 0;
    width: 0%;
    transition: width 2s ease, opacity 1s ease;
    border: solid 3px black;
}

.p4-energy-stat-bar.animate {
    opacity: 1;
    width: 55%;
}

#fight-btn {
    font-family: 'Press Start 2P', cursive;
    background-color: #c5d7d7;
    animation: 3s pulse-animation-ready infinite;
    padding: 20px 20px;
    font-size: 15px; 
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px black;
}

@keyframes pulse-animation-fight {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}

.flex-fight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;   
}

#fight-btn {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    background-color: #c5d7d7;
    animation: 3s pulse-animation-fight infinite;
    max-width: 120px;
    margin: 0 auto;
    padding: 20px 20px;
    font-size: 15px; 
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px black;
    margin-bottom: 40px;
}

@keyframes pulse-animation-fight {
   
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}

#fight-popup {
    font-family: 'Press Start 2P', monospace, sans-serif;;
    color: black;
    font-size: 40px;
    text-align: center;
    animation: 2s fight-popup ease-in-out forwards;
}

@keyframes fight-popup {
    0% {
        opacity: 0;
      }
      20% {
        opacity: 1;
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

#flex2-info {
    animation: mysticFadeFlexTwo 1s ease forwards;
    margin-top: 10px;
    font-size: 0.9rem;
    color: black;
    transition: opacity 0.7s ease;  
    margin-bottom: 200px;
}

@keyframes mysticFadeFlexTwo {
    from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }

}

.logo-links {   
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

#contact-links {
    display: flex;
    justify-content: center;
}

#github-logo, #linkedin-logo, #x-logo {
    padding-left: 60px;
    padding-right: 60px;
}
